{% if users %}
{% for user in users %}
<div class="list-group-item d-flex align-items-center change-page-profile" href="/profile/{{ user.name }}">
    <p class="mb-0 d-flex">
      <img
          src="{{ user.icon if user.icon is not none else url_for('static', filename='images/avatar-default.png') }}"
          class="rounded-circle"
          height="40"
          alt="Black and White Portrait of a Man"
          loading="lazy"
      />
      <div class="d-flex flex-column ps-2">
        <div>
            <span class="fs-6">{{ user.name }}</span> | <span class="fs-6">{{ user.email }}</span>
        </div>
        <div>
            <span class="fs-6">{{ user.department if user.department is not none }}</span>
        </div>
      </div>
      <div class="ms-auto">
          <button class="btn btn-primary">
              Chat
          </button>
      </div>
    </p>
  </div>
{% endfor %}
{% endif %}

<script src= "{{ url_for('static',filename='js/custom.js') }}"></script>
