{% extends "base.html" %}
{% block content %}

    <div class="w-100 h-100 d-flex justify-content-center align-items-center">
        <button type="button" class="btn btn-danger" onclick=refuse()>Refuse and Return Home</button>
        <button type="button" class="ms-1 btn btn-primary" onclick=accept()>Accept Invitation</button>
    </div>
   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.2.0/socket.io.min.js"></script>
    <script>
        var socket;
        $(document).ready(function () {
            socket = io.connect('http://' + document.domain + ':' + location.port + '/wait');

            socket.on('connect', function () {
                connected = true;
                socket.emit('join', {});
            });
            socket.on('disconnect', () => {
                connected = false;
            });
            socket.on('go_to_chat', () => {
                console.log("In waiting room and go to chat");
            });
        });
        function refuse() {
            console.log("hello")
            data = {
                'msg': "Refuse the invitation"
            }
            socket.emit('refuse', data, function () {
                socket.disconnect();
                window.location.href = "{{ url_for('home') }}";


            });
        }
        function accept() {
            data = {
                'room': "{{room}}",
                'msg': "Accept the invitation."
            }
            socket.emit('accept_invite', data, function () {
                socket.disconnect();
                socket = io.connect('http://' + document.domain + ':' + location.port + '/chat');
                socket.emit('join', {})
                window.location.href = "{{ url_for('chat', room=room, user=user) }}";
            });
        }

    </script>
{% endblock %}
