{% extends "base.html" %}
{% block content %}
    <div class="w-100 h-100 d-flex justify-content-center align-items-center">
        <div class="mask" style="background-color: rgba(0, 0, 0, 0.3)"></div>
        <button class="btn btn-primary" type="button" disabled>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Waiting for other user .....
        </button>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.2.0/socket.io.min.js"></script>
    <script>
        var socket;
        $(document).ready(function(){
            socket = io.connect('http://' + document.domain + ':' + location.port + '/wait' );
            console.log('http://' + document.domain + ':' + location.port + '/wait' )
            
            socket.on('connect', function() {
                connected = true;
                // socket.emit('join', {});
            });
            socket.on('disconnect', () => {
                connected = false;
            });

            socket.on('go_to_chat', () => {
                socket.disconnect();
                socket = io.connect('http://' + document.domain + ':' + location.port + '/chat' );
                socket.emit('join', {})
                window.location.href = "{{ url_for('chat') }}";
            });
            socket.on('go_to_home', () => {
                socket.disconnect();
                window.location.href = "{{ url_for('home') }}";
            });
        });

    </script>
{% endblock %}